.order-status {
  font-family: Poppins, sans-serif;
  font-weight: bold;
  text-transform: capitalize;

  &.pending {
    color: #d99425;
  }

  &.waiting-for-confirmation {
    color: #17a2b8;
  }

  &.completed {
    color: #28a745;
  }

  &.canceled {
    color: #dc3545;
  }

  &.failed {
    color: #6c757d;
  }
}

.no-info, h2 {
  font-family: Poppins, sans-serif;
}

.left-p {
  @media (max-width: 576px) {
    padding: 0 20px;
  }
}

