<section>
  <div class="row">
    <div class="col-md-6">
      <app-customer-form></app-customer-form>
    </div>
    <div class="col-md-6">
      <app-address-form></app-address-form>
    </div>
    <div class="col-12">
      <app-delivery-form></app-delivery-form>
    </div>
  </div>

  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="isCompany"
      [(ngModel)]="isCompany"
      (change)="onCompanyChange()"
    />
    <label class="form-check-label" for="isCompany">
      Zamawiam jako firma
    </label>
  </div>


  <div [hidden]="!isCompany">
    <app-company-form></app-company-form>
  </div>

  <div>
    <app-info-form></app-info-form>
  </div>

  <div class="form-check">
    <input
      type="checkbox"
      class="form-check-input"
      id="saveShipping"
      [(ngModel)]="saveShipping"
      [disabled]="!isAuthenticated"
    />
    <label class="form-check-label" for="saveShipping">
      Zapamiętaj dane do wysyłki
    </label>
  </div>

  <div class="d-flex justify-content-end">
    <button mat-raised-button color="primary" (click)="order()">Zamawiam i płacę</button>
  </div>

  <app-alert *ngIf="errorMsg" [alertType]="'warning'" [message]="errorMsg"></app-alert>
</section>
