<section>
  <div class="create-order-wrapper">
    <div class="logo mt-3">
      <a class="navbar-brand" href="#">Ethereal Charm</a>
    </div>
      <div class="order-form py-xl-1">
        <h2 class="form-title">
          Dane zamówienia
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none"
               stroke="#8c6464" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               style="vertical-align:middle; margin-left:2px; margin-bottom:0.2rem;">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M6 4h11a2 2 0 0 1 2 2v12a2 2 0 0 1 -2 2h-11a1 1 0 0 1 -1 -1v-14a1 1 0 0 1 1 -1m3 0v18"/>
            <path d="M13 8l2 0"/>
            <path d="M13 12l2 0"/>
          </svg>
        </h2>

        <div class="row">
          <div class="col-lg-6">
            <app-customer-form [submitted]="submitted">></app-customer-form>
          </div>
          <div class="col-lg-6">
            <app-address-form [submitted]="submitted">></app-address-form>
          </div>
        </div>

        <div class="col-12">
          <app-delivery-form></app-delivery-form>
        </div>

        <div class="checkbox-wrapper-46 form-input">
          <input class="inp-cbx" id="isCompany" type="checkbox" [(ngModel)]="isCompany" (change)="onCompanyChange()"/>
          <label class="cbx" for="isCompany">
            <span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span>
            <span>Zamawiam jako firma</span>
          </label>
        </div>

        <div [hidden]="!isCompany">
          <app-company-form></app-company-form>
        </div>

        <div>
          <app-info-form></app-info-form>
        </div>

        <div class="checkbox-wrapper-46 form-input save-shipping" *ngIf="isAuthenticated">
          <input class="inp-cbx" id="saveShipping" type="checkbox" [(ngModel)]="saveShipping" [disabled]="!isAuthenticated"/>
          <label class="cbx" for="saveShipping">
            <span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg>
            </span>
            <span>Zapamiętaj dane do wysyłki</span>
          </label>
        </div>

        <div class="form-actions py-4">
          <button class="save-btn" (click)="order()">Zamawiam i płacę</button>
        </div>

        <div class="mt-2 pl-5 d-flex align-items-center gap-2" *ngIf="loading$ | async">
          <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate" [style.--mdc-circular-progress-active-indicator-color]="'#8c6464'"></mat-progress-spinner>
          Składanie zamówienia, proszę czekać...
        </div>


        <app-alert *ngIf="errorMsg" [alertType]="'warning'" [message]="errorMsg"></app-alert>
      </div>
  </div>
</section>
