<main>
  <div class="box">
    <div class="inner-box">
      <div class="logo">
        <a class="navbar-brand" href="#">Ethereal Charm</a>
      </div>

      <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" class="profile-form" novalidate>
        <h2 class="form-title">
          Edytuj profil
          <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" viewBox="0 0 24 24" fill="none"
               stroke="#8c6464" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"
               style="vertical-align:middle; margin-left:2px; margin-bottom:0.2rem;">
            <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
            <path d="M4 20h4l10.5 -10.5a2.828 2.828 0 1 0 -4 -4l-10.5 10.5v4"/>
            <path d="M13.5 6.5l4 4"/>
          </svg>
        </h2>


        <div class="form-grid">
          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['firstName']" [class.active]="controls['firstName'].value" required/>
            <label>Imię</label>
            <mat-error *ngIf="controls['firstName'].invalid && submitted">{{ getErrorMessage(controls['firstName']) }}</mat-error>
          </div>


          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['lastName']" [class.active]="controls['lastName'].value" required/>
            <label>Nazwisko</label>
            <mat-error *ngIf="controls['lastName'].invalid && submitted">{{ getErrorMessage(controls['lastName']) }}
            </mat-error>
          </div>

          <div class="form-input">
            <input #inputFieldRef class="input-field" type="email" [formControl]="controls['email']" [class.active]="controls['email'].value" required/>
            <label>Email</label>
            <mat-error *ngIf="controls['email'].invalid && submitted">{{ getErrorMessage(controls['email']) }}
            </mat-error>
          </div>

          <div class="form-input">
            <app-phone-control [formControl]="controls['phone']" [submitted]="submitted"></app-phone-control>
            <mat-error *ngIf="controls['phone'].invalid && submitted">{{ getErrorMessage(controls['phone']) }}
            </mat-error>
          </div>

          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['city']" [class.active]="controls['city'].value" required/>
            <label>Miasto</label>
            <mat-error *ngIf="controls['city'].invalid && submitted">{{ getErrorMessage(controls['city']) }}</mat-error>
          </div>

          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['street']" [class.active]="controls['street'].value" required/>
            <label>Ulica</label>
            <mat-error *ngIf="controls['street'].invalid && submitted">{{ getErrorMessage(controls['street']) }}
            </mat-error>
          </div>

          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['number']" [class.active]="controls['number'].value" required/>
            <label>Nr domu / lok.</label>
            <mat-error *ngIf="controls['number'].invalid && submitted">{{ getErrorMessage(controls['number']) }}
            </mat-error>
          </div>

          <div class="form-input">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['postCode']" [class.active]="controls['postCode'].value" required/>
            <label>Kod pocztowy</label>
            <mat-error *ngIf="controls['postCode'].invalid && submitted">{{ getErrorMessage(controls['postCode']) }}
            </mat-error>
          </div>

          <div class="checkbox-wrapper-46 form-input full-row">
            <input class="inp-cbx" id="cbx-46" type="checkbox" formControlName="company"/>
            <label class="cbx" for="cbx-46"><span>
              <svg width="12px" height="10px" viewbox="0 0 12 10">
                <polyline points="1.5 6 4.5 9 10.5 1"></polyline>
              </svg></span><span>Zamawiam jako firma</span>
            </label>
          </div>

          <div class="form-input" *ngIf="controls['company'].value"><input #inputFieldRef class="input-field"
                                                                           type="text"
                                                                           [formControl]="controls['companyName']" [class.active]="controls['companyName'].value"/>
            <label>Nazwa firmy</label>
            <mat-error
              *ngIf="controls['companyName'].invalid && submitted">{{ getErrorMessage(controls['companyName']) }}
            </mat-error>
          </div>

          <div class="form-input" *ngIf="controls['company'].value">
            <input #inputFieldRef class="input-field" type="text" [formControl]="controls['nip']" [class.active]="controls['nip'].value"/>
            <label>NIP</label>
            <mat-error *ngIf="controls['nip'].invalid && submitted">{{ getErrorMessage(controls['nip']) }}</mat-error>
          </div>
        </div>

        <div class="form-actions">
          <button type="submit" class="save-btn">Zapisz zmiany</button>
        </div>

        <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="errorMsg">
          {{ errorMsg }}
        </div>
      </form>
    </div>
  </div>
</main>
