<div class="cookie-settings">
  <div class="cookie-toggle">
    <label>
      <input
        type="checkbox"
        checked
        disabled
      />
      <span class="toggle">
        <span class="circle"></span>
      </span>
      <div class="mx-3">Akceptuję tylko niezbędne ciasteczka</div>
    </label>
  </div>

  <div class="cookie-toggle">
    <label>
      <input
        type="checkbox"
        [(ngModel)]="allCookies"
        (change)="onToggleChange('all', $event)">
      <span class="toggle">
        <span class="circle"></span>
      </span>
      <div class="mx-3">Akceptuję wszystkie ciasteczka</div>
    </label>
  </div>
  <button (click)="onDeactivateAccount()" class="btn btn-danger">
    Usuń konto
  </button>
  <button (click)="onChangePassword()" class="btn btn-primary">
    Zmień hasło
  </button>
</div>
