<app-cookie-notify></app-cookie-notify>
<div class="home-container col-12">
  <div class="hero-image">
    <img class="img-fluid" src="assets/img/slider/front12.jpg" alt="Ethereal Charm Hero Image" />
  </div>
  <div class="overlay">
    <div class="overlay-content">
      <h1 class="overlay-heading">Znajdź swój niepowtarzalny blask</h1>
      <p class="overlay-subheading">Delikatna biżuteria, która podkreśla Twoją wyjątkowość.</p>
      <div class="overlay-buttons">
        <a href="/products" class="btn btn-primary">Zobacz kolekcję</a>
        <a href="/about" class="btn btn-secondary">Dowiedz się więcej</a>
      </div>
    </div>
  </div>
</div>
