@import '../dialog-font';

.btn {
  margin: 5px 5px 20px;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}


.btn-primary {
  background: #151111;
  border: none;
}

.btn-primary:hover {
  background: #c0a5a5;
  border: none;
}

.btn-danger {
  background: #8c6464;
  border: none;
}

.btn-danger:hover {
  background: #c0a5a5;
  border: none;
}

.dialog-actions {
  float: right;
}

@media(max-width:768px) {
  .btn:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(97, 176, 255, 0.66);
  }
}
