.custom-navbar {
  background-color: #f8f3f3;
  z-index: 10;

  .container {
    padding-left: 8rem;
    padding-right: 8rem;
  }

  .navbar-brand {
    padding: 2rem 5rem 2rem 2rem;
    font-family: "WindSong", serif;
    color: #c0a5a5;
    font-weight: 400;
    font-size: 1.5rem;
  }

  .nav-link {
    font-family: "Lexend Peta", serif;
    color: #b3a3a3;
    font-size: 0.8rem;
    margin-right: 1.5rem;
    font-weight: 200;
    width: max-content;
    position: relative;
    cursor: pointer;
    text-decoration: none;

    &:not(.cart-icon):not(.user-icon)::after {
      content: "";
      position: absolute;
      bottom: -5px;
      height: 1px !important;
      width: 100%;
      left: 0;
      background-color: #c0a5a5;
      transition: 0.18s;
      transition-timing-function: ease-in-out;
      transform: scaleX(0);
    }

    &:not(.cart-icon):not(.user-icon):hover::after {
      transform: scaleX(1);
    }

    &:hover {
      color: #a18f8f;
    }
  }

  .nav-link.active {
    color: #c0a5a5;

    &::after {
      content: "";
      position: absolute;
      bottom: -5px;
      height: 1px;
      width: 100%;
      left: 0;
      background-color: #c0a5a5;
      transform: scaleX(1);
    }
  }

  .navbar-toggler-icon {
    background-color: #d1c0c0;
  }
}

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

.nav-item.dropdown:hover > .nav-link {
  color: #a18f8f;
}

.display-initial {
  display: initial;

  .basket-quantity {
    font: 500 11px roboto;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    top: -18px;
    right: -14px;
    background-color: #e97070;
  }

  .icon-height {
    line-height: 30px;
  }
}

.dropdown-menu-end {
  right: 0;
  left: auto;
}

.cart-icon svg,
.user-icon svg {
  transition: transform 0.2s ease-in-out, stroke 0.2s ease-in-out;
}

.cart-icon:hover svg,
.user-icon:hover svg {
  transform: scale(0.9);
}

.custom-navbar .nav-link.dropdown-toggle::after {
  content: none !important;
}

.navbar-nav {
  display: flex;
  align-items: center;

  .nav-item {
    margin: -5px;
  }

  .cart-icon,
  .user-icon {
    margin-left: 0;
  }
}


