<h3>Wpisz swoje dane:</h3>
<form [formGroup]='customerForm' class="form-grid">
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.firstName' placeholder=" " required>
    <label>Imię</label>
    <mat-error *ngIf='controls.firstName.invalid && submitted'>{{ getErrorMessage(controls.firstName) }}</mat-error>
  </div>
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.lastName' placeholder=" " required>
    <label>Nazwisko</label>
    <mat-error *ngIf='controls.lastName.invalid && submitted'>{{ getErrorMessage(controls.lastName) }}</mat-error>
  </div>
  <div class='form-input'>
    <input #inputField class="input-field" type="email" [formControl]='controls.email' placeholder=" " required>
    <label>Email</label>
    <mat-error *ngIf='controls.email.invalid && submitted'>{{ getErrorMessage(controls.email) }}</mat-error>
  </div>
  <div class='form-input'>
    <app-phone-control [formControl]="controls.phone"></app-phone-control>
    <label></label>
    <mat-error *ngIf='controls.phone.invalid && submitted'>{{ getErrorMessage(controls.phone) }}</mat-error>
  </div>
</form>
