section {
  background-color: #eaebe6;
  min-height: 70vh;
}

figure {
  display: block;
  margin: 0 auto;
  max-width: 300px;
  padding: 100px 0 20px 0;
}

figure img {
  width: 100%;
  height: auto;
}

h1 {
  font-family: 'Poiret One', sans-serif !important;
  font-size: 38px;
}

p {
  font-size: 18px;
}
