<main class="product-wrapper">
  <div class="product-container">
    <div class="autocomplete-search">
      <form class="search-form">
        <div class="form-input">
          <input type="text" class="input-field" [formControl]="searchControl" required/>
          <label>Wyszukaj produkty</label>
        </div>

        <div class="searched-params">
          <div class="form-input">
            <select class="input-field" [formControl]="sortControl" required>
              <option value="">Sortuj po</option>
              <option value="price">Cenie</option>
              <option value="category">Kategorii</option>
              <option value="name">Nazwie</option>
              <option value="data">Dacie dodania</option>
            </select>
            <label>Sortuj po</label>
          </div>

          <div class="form-input">
            <select class="input-field" [formControl]="orderControl" required>
              <option value="">Sortuj</option>
              <option value="asc">rosnąco</option>
              <option value="desc">malejąco</option>
            </select>
            <label>Sortuj</label>
          </div>
        </div>

        <div class="d-flex justify-content-end mt-3 mb-5">
          <button class="sign-btn" type="button" (click)="searchProducts()">Wyszukaj</button>
        </div>
      </form>
    </div>


    <div class="products-list mb-5">
      <app-product
        *ngFor="let product of products"
        [product]="product"
        (editProduct)="openEditDialog($event)">
      </app-product>
    </div>
    <div class="paginator">
      <mat-paginator *ngIf='!errorMessage' [pageSizeOptions]='[8, 16, 32]' [length]='totalCount' showFirstLastButtons></mat-paginator>
    </div>
    <app-alert *ngIf='errorMessage' [alertType]='"warning"' [message]='errorMessage'></app-alert>
  </div>
</main>
