<h3>Wpisz adres dostawy:</h3>
<form [formGroup]='addressForm' class="form-grid">
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.city' placeholder=" " required>
    <label>Miasto</label>
    <mat-error *ngIf='controls.city.invalid && submitted'>{{ getErrorMessage(controls.city) }}</mat-error>
  </div>
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.street' placeholder=" " required>
    <label>Ulica</label>
    <mat-error *ngIf='controls.street.invalid && submitted'>{{ getErrorMessage(controls.street) }}</mat-error>
  </div>
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.number' placeholder=" " required>
    <label>Numer domu/mieszkania</label>
    <mat-error *ngIf='controls.number.invalid && submitted'>{{ getErrorMessage(controls.number) }}</mat-error>
  </div>
  <div class='form-input'>
    <input #inputField class="input-field" type="text" [formControl]='controls.postCode' placeholder=" " required>
    <label>Kod pocztowy</label>
    <mat-error *ngIf='controls.postCode.invalid && submitted'>{{ getErrorMessage(controls.postCode) }}</mat-error>
  </div>
</form>
