<div class="phone-grid">
  <div class="form-input">
    <input #inputFieldRef class="input-field prefix-field" type="text" [formControl]="numberPrefixControl"
           placeholder=" "/>
    <label>Kierunkowy</label>
  </div>

  <div class="form-input">
    <input #inputFieldRef class="input-field" type="text" [formControl]="numberControl" placeholder=" "/>
    <label>Numer&nbsp;tel.</label>
    <div class="control-err">
      <mat-error *ngIf="submitted && numberControl.invalid">Niepoprawny format numeru</mat-error>
    </div>
  </div>
</div>
