<mat-form-field appearance="fill" class="prefix">
  <mat-label>Kierunkowy</mat-label>
  <mat-select [formControl]="numberPrefixControl">
    <mat-option *ngFor="let country of countryCodes" [value]="country.code">
      <span class="flag-icon flag-icon-{{ country.flag }}" style="margin-right: 8px;"></span>
      {{ country.code }} - {{ country.country }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="numberPrefixControl.errors">Wybierz numer kierunkowy</mat-error>
</mat-form-field>

<mat-form-field appearance="fill" class="number">
  <mat-label>Numer tel.</mat-label>
  <input [formControl]="numberControl" matInput>
  <mat-error *ngIf="numberControl.errors">Niepoprawny format numeru</mat-error>
  <mat-error *ngIf="numberControl.hasError('pattern')">Numer powinien zawierać wyłącznie cyfry.</mat-error>
</mat-form-field>

