<div #carousel id="carouselExampleIndicators"
     class="carousel slide" data-bs-touch="true">

  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>

    <ng-container *ngFor="let _ of imageUrls.slice(1); let i = index; trackBy: trackByIdx">
      <button type="button" data-bs-target="#carouselExampleIndicators"
              [attr.data-bs-slide-to]="i + 1"
              [attr.aria-label]="'Slide ' + (i + 2)"></button>
    </ng-container>
  </div>

  <div class="carousel-inner">
    <ng-container *ngFor="let img of imageUrls; let i = index; trackBy: trackByIdx">
      <div [attr.class]="i === 0 ? 'carousel-item active' : 'carousel-item'">
        <img [src]="img" class="d-block w-100" [alt]="productName">
      </div>
    </ng-container>
  </div>

  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Poprzedni</span>
  </button>

  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Następny</span>
  </button>

</div>
