footer {
  width: 100%;
  min-height: 300px;
  background-color: #111;
  padding-inline: 300px;
  color: white;
}

 .footer-container {
    padding: 30px;
 }

 .footer-container a {
   color: white;
   text-decoration: none;
 }

.footer-container a:hover {
  text-decoration: underline;
}

.footer-container h1 {
  font-family: 'Poiret One', sans-serif;
}

.address-line {
  padding-top: 8px;
  padding-bottom: 8px;
}

.address svg {
  margin-right: 8px;
}

.media-icon {
  display: inline-block;
  margin: 8px;
}

.newsletter-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin-top: 1rem;

  input {
    padding: 8px 12px;
    border: none;
    border-radius: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 0.9rem;
    color: #333;
  }

  button {
    padding: 8px 12px;
    border: none;
    background-color: black;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: 'Poiret One', sans-serif;
    transition: background-color 0.3s;
    width: 45%;
    margin-top: 1rem;

    &:hover {
      background-color: #aaa;
      color: black;
    }
  }
}

