<footer>
  <div class="footer-container">
    <div class="row">
      <div class="col-md-3">
        <a class="nav-link" aria-current="page" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Strona główna</a>
        <a class="nav-link" routerLink="/products" routerLinkActive="active">Produkty</a>
        <a class="nav-link" routerLink="/about" routerLinkActive="active">O nas</a>
        <a class="nav-link" routerLink="/contact" routerLinkActive="active">Kontakt</a>
        <a class="nav-link" routerLink="/account/favourites" routerLinkActive="active">Ulubione</a>
        <a class="nav-link" routerLink="/account/profile" routerLinkActive="active">Profil</a>
      </div>
      <div class="col-md-3 address">
        <div class="address-line"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-phone"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M5 4h4l2 5l-2.5 1.5a11 11 0 0 0 5 5l1.5 -2.5l5 2v4a2 2 0 0 1 -2 2a16 16 0 0 1 -15 -15a2 2 0 0 1 2 -2" /></svg><a href="#">+48 668 952 208</a></div>
        <div class="address-line"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-mail"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M3 7a2 2 0 0 1 2 -2h14a2 2 0 0 1 2 2v10a2 2 0 0 1 -2 2h-14a2 2 0 0 1 -2 -2v-10z" /><path d="M3 7l9 6l9 -6" /></svg><a href="#">sklep@ethereal-charm.pl</a></div>
        <div class="address-line"><svg  xmlns="http://www.w3.org/2000/svg"  width="24"  height="24"  viewBox="0 0 24 24"  fill="none"  stroke="currentColor"  stroke-width="2"  stroke-linecap="round"  stroke-linejoin="round"  class="icon icon-tabler icons-tabler-outline icon-tabler-map-pin"><path stroke="none" d="M0 0h24v24H0z" fill="none"/><path d="M9 11a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" /><path d="M17.657 16.657l-4.243 4.243a2 2 0 0 1 -2.827 0l-4.244 -4.243a8 8 0 1 1 11.314 0z" /></svg><a href="#">Gdańsk, Żydowskie Przedmieście 50/23, 80-283</a></div>

        <div class="social-media-icons mt-4">
          <div class="media-icon">
            <a href="#">
              <svg class="icon outline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 8a4 4 0 0 1 4 -4h8a4 4 0 0 1 4 4v8a4 4 0 0 1 -4 4h-8a4 4 0 0 1 -4 -4z" />
                <path d="M9 12a3 3 0 1 0 6 0a3 3 0 0 0 -6 0" />
                <path d="M16.5 7.5v.01" />
              </svg>

              <svg class="icon fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M16 3a5 5 0 0 1 5 5v8a5 5 0 0 1 -5 5h-8a5 5 0 0 1 -5 -5v-8a5 5 0 0 1 5 -5zm-4 5a4 4 0 0 0 -3.995 3.8l-.005 .2a4 4 0 1 0 4 -4m4.5 -1.5a1 1 0 0 0 -.993 .883l-.007 .127a1 1 0 0 0 1.993 .117l.007 -.127a1 1 0 0 0 -1 -1" />
              </svg>
            </a>
          </div>
          <div class="media-icon">
            <a href="#">
              <svg class="icon outline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1-4h-4v-2a1 1 0 0 1 1-1h3v-4h-3a5 5 0 0 0-5 5v2h-3" />
              </svg>

              <svg class="icon fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M18 2a1 1 0 0 1 .993.883l.007.117v4a1 1 0 0 1-.883.993l-.117.007h-3v1h3a1 1 0 0 1 .991 1.131l-.02.112-1 4a1 1 0 0 1-.858.75l-.113.007h-2v6a1 1 0 0 1-.883.993l-.117.007h-4a1 1 0 0 1-.993-.883l-.007-.117v-6h-2a1 1 0 0 1-.993-.883l-.007-.117v-4a1 1 0 0 1 .883-.993l.117-.007h2v-1a6 6 0 0 1 5.775-5.996l.225-.004h3z"/>
              </svg>
            </a>
          </div>
          <div class="media-icon">
            <a href="#">
              <svg class="icon outline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M4 4l11.733 16h4.267l-11.733-16z" />
                <path d="M4 20l6.768-6.768m2.46-2.46l6.772-6.772" />
              </svg>

              <svg class="icon fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8.267 3a1 1 0 0 1 .73.317l.076.092 4.274 5.828 5.946-5.944a1 1 0 0 1 1.497 1.32l-.083.094-6.163 6.162 6.262 8.54a1 1 0 0 1-.697 1.585l-.109.006h-4.267a1 1 0 0 1-.73-.317l-.076-.092-4.276-5.829-5.944 5.945a1 1 0 0 1-1.497-1.32l.083-.094 6.161-6.163-6.26-8.539a1 1 0 0 1 .697-1.585l.109-.006h4.267z"/>
              </svg>
            </a>
          </div>
          <div class="media-icon">
            <a href="#">
              <svg class="icon outline" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2"
                   stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M8 20l4-9" />
                <path d="M10.7 14c.437 1.263 1.43 2 2.55 2 2.071 0 3.75-1.554 3.75-4a5 5 0 1 0-9.7 1.7" />
                <path d="M12 12m-9 0a9 9 0 1 0 18 0a9 9 0 1 0-18 0" />
              </svg>

              <svg class="icon fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
                   viewBox="0 0 24 24" fill="currentColor">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M17 3.34a10 10 0 0 1-8.512 18.023l2.364-5.315a3.5 3.5 0 0 0 2.398.952c2.708 0 4.75-2.089 4.75-5a6 6 0 1 0-11.64 2.041 1 1 0 1 0 1.88-.682 4 4 0 1 1 7.76-1.36c0 1.818-1.156 3.001-2.75 3.001-.609 0-1.153-.361-1.478-1.022l1.142-2.572a1 1 0 0 0-1.828-.812l-4.392 9.882a10 10 0 0 1-4.694-8.476l.005-.324a10 10 0 0 1 14.995-8.336"/>
              </svg>
            </a>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h1>O nas</h1>
        <p>
          Ethereal Charm to marka stworzona z miłości do subtelnej elegancji i kobiecego piękna. Tworzymy delikatną biżuterię, która podkreśla wyjątkowość każdej kobiety i dopełnia codzienne oraz wyjątkowe chwile. Nasze projekty łączą klasykę z nowoczesnością, inspirując się naturą i emocjami.
        </p>
      </div>
      <div class="col-md-3">
        <h1>Newsletter</h1>
        <p>Zapisz się, aby otrzymywać informacje o nowościach i promocjach.</p>
        <form (submit)="subscribeToNewsletter()" class="newsletter-form" [formGroup]="newsletterForm">
          <input type="email" placeholder="Twój e-mail" formControlName="email" required>
          <button type="submit">Zapisz się</button>
        </form>
      </div>
    </div>
    <div class="row">
      <div class="col-12 copyright">
        <p>Ethereal Charm &copy; 2025 - Wszelkie prawa zastrzeżone. Projekt i wykonanie strony - Paweł Gościak - <a href="https://github.com/pavgos22">https://github.com/pavgos22</a></p>
      </div>
    </div>
  </div>
</footer>
