<main>
  <div class="box">
    <div class="inner-box">
      <div class="forms-wrap">
        <div class="logo">
          <a class="navbar-brand" routerLink='/'>Ethereal Charm</a>
        </div>
        <form [formGroup]="loginForm" (ngSubmit)="onLogin()" class="sign-in-form" novalidate>
          <div class="heading">
            <h2>Zaloguj się</h2>
            <h6>Nie masz konta?</h6><br>
            <a routerLink="/register" class="toggle">Zarejestruj się</a>
          </div>

          <div class="actual-form">
            <div class="form-input">
              <input class="input-field" type="text" [formControl]="controls.login" required/>
              <label>Login</label>
            </div>
            <div class="control-err">
              <mat-error *ngIf="controls.login.invalid && submitted">
                {{ getErrorMessage(controls.login) }}
              </mat-error>
            </div>
            <div class="form-input">
              <input type="password" class="input-field" [formControl]="controls.password" required/>
              <label>Hasło</label>
            </div>
            <div class="control-err">
              <mat-error *ngIf="controls.password.invalid && submitted">
                {{ getErrorMessage(controls.password) }}
              </mat-error>
            </div>
          </div>

          <div class="alert alert-danger alert-dismissible fade show mt-2" role="alert" *ngIf="errorMsg$ | async as error">
            {{ error }}
          </div>

          <div class="mt-2 spinner-wrapper" *ngIf="loading$ | async">
            <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate" [style.--mdc-circular-progress-active-indicator-color]="'#8c6464'"></mat-progress-spinner>
            <span>Trwa logowanie...</span>
          </div>

          <div class="d-flex justify-content-end">
            <button class="sign-btn">
              Zaloguj się
            </button>
          </div>

          <p class="text">
            Zapomniałeś hasła?
            <a routerLink="/password-recovery">Odzyskaj hasło</a>
          </p>
        </form>
      </div>
      <div class="side-photo"></div>
    </div>
  </div>
</main>
<app-cookie-notify></app-cookie-notify>
