<main>
  <div class="box">
    <div class="inner-box">
      <div class="logo">
        <a class="navbar-brand" href="#">Ethereal Charm</a>
      </div>

      <div class="forms-wrap">
        <form [formGroup]="passwdRecoveryForm" (ngSubmit)="onPasswdRecovery()" class="recovery-form" novalidate>
          <div class="heading">
            <h2>Odzyskaj hasło</h2>
            <h6>Podaj maila, na który zostało<br> założone konto</h6>
          </div>

          <div class="actual-form">
            <div class="form-input">
              <input #inputFieldRef class="input-field" type="email" [formControl]="controls.email" required/>
              <label>Adres e‑mail</label>
            </div>
            <div class="control-err">
              <mat-error *ngIf="controls.email.invalid && submitted">
                {{ getErrorMessage(controls.email) }}
              </mat-error>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="recovery-btn">Wyślij link resetujący</button>
          </div>

          <div class="mt-2 spinner-wrapper" *ngIf="loading$ | async">
            <mat-progress-spinner diameter="20" strokeWidth="3" mode="indeterminate" [style.--mdc-circular-progress-active-indicator-color]="'#8c6464'"></mat-progress-spinner>
            <span>Proszę czekać...</span>
          </div>

          <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close" (click)="errorMessage = null"></button>
          </div>
        </form>
      </div>

      <div class="side-photo"></div>
    </div>
  </div>
</main>
