.favourites {
  padding: 20px;

  h2 {
    font-size: 1.8rem;
    font-family: 'Poiret One', sans-serif;
    text-align: center;
  }

  hr {
    width: 25%;
    margin-left: auto;
    margin-right: auto;

    @media (max-width: 1200px) {
      width: 30%;
    }

    @media (max-width: 992px) {
      width: 40%;
    }

    @media (max-width: 768px) {
      width: 50%;
    }

    @media (max-width: 576px) {
      width: 80%;
      height: 2px !important;
    }
  }

  .products-grid {
    display: grid;
    gap: 0.8rem;
    padding-top: 20px;

    @media (min-width: 1200px) {
      grid-template-columns: repeat(4, 1fr);
    }

    @media (min-width: 768px) and (max-width: 1199px) {
      grid-template-columns: repeat(3, 1fr);
    }

    @media (min-width: 576px) and (max-width: 767px) {
      grid-template-columns: repeat(2, 1fr);
    }

    @media (max-width: 575px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
