<h2 mat-dialog-title>Czy usunąć produkt?</h2>
<mat-dialog-content>
  <app-alert *ngIf='errorMessage' [message]='errorMessage' alertType='warning'></app-alert>

  <div *ngIf='product'>
    <p class='text-center'>{{product.name}}</p>
    <p class='text-center'>{{product.price | currency: 'zł'}}</p>

    <div class='my-2'>
      <img [src]='product.imageUrls[0]' class='img-fluid mx-auto d-block' [alt]='product.name'>
    </div>

    <p>{{product.mainDesc}}</p>
  </div>
</mat-dialog-content>
<mat-dialog-actions align='end'>
  <button mat-raised-button mat-dialog-close>Anuluj</button>
  <button mat-raised-button color='accent' (click)='deleteProduct()'>Usuń</button>
</mat-dialog-actions>
