@import "node_modules/angular-notifier/styles";
@import "node_modules/flag-icon-css/css/flag-icons.min.css";
@import 'node_modules/angular-notifier/styles';

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  background: url("/assets/img/forms/bg/so-white.png");
  font-family: "Poiret One", sans-serif !important;
  font-weight: 400 !important;
  line-height: 1;
}

mat-form-field {
  width: 100%;
}

.dialog {
  min-width: 600px;
}

.container.mt-4 {
  margin-top: 0 !important;
}

.spinner-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

notifier-container .notifier__notification--success {
  background-color: #d8f5d0 !important;
  border-left: 6px solid #76b06b !important;
  color: #2f4f2f !important;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  margin-right: 1rem !important;
  border-radius: 0 !important;
}

notifier-container .notifier__notification--warning {
  background-color: #fff4cc !important;
  border-left: 6px solid #ffb400 !important;
  color: #665200 !important;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  margin-right: 1rem !important;
  border-radius: 0 !important;
}

notifier-container .notifier__notification--error {
  background-color: #ffd7d6 !important;
  border-left: 6px solid #e3362c !important;
  color: #4a1210 !important;
  font-family: 'Poppins', sans-serif !important;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1) !important;
  margin-right: 1rem !important;
  border-radius: 0 !important;
}
