@import "node_modules/angular-notifier/styles";
@import "node_modules/flag-icon-css/css/flag-icons.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0 !important;
  padding: 0 !important;
  overflow-x: hidden;
  font-family: "Poiret One", sans-serif !important;;
  font-weight: 400 !important;
  line-height: 1;
}

mat-form-field {
  width: 100%;
}

.dialog {
  min-width: 600px;
}

.container.mt-4 {
  margin-top: 0 !important;
}
