/* You can add global styles to this file, and also import other style files */
@import "node_modules/angular-notifier/styles";
@import "node_modules/flag-icon-css/css/flag-icons.min.css";
@import "~@fortawesome/fontawesome-free/css/all.css";

*, *::before, *::after {
  box-sizing: border-box;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-form-field {
  width: 100%;
}

.dialog {
  min-width: 600px;
}
