<main>
  <div class="box">
    <div class="inner-box">
      <div class="logo">
        <a class="navbar-brand" href="#">Ethereal Charm</a>
      </div>

      <div class="forms-wrap">
        <form [formGroup]="passwordsForm" (ngSubmit)="onPasswdChange()" class="change-form" novalidate>
          <div class="heading">
            <h2>Ustaw nowe hasło</h2>
          </div>
          <div class="actual-form">
            <div class="form-input">
              <input #inputFieldRef class="input-field" type="password" [formControl]="controls.password" required/>
              <label>Hasło</label>
            </div>
            <div class="control-err">
              <mat-error *ngIf="controls.password.invalid && submitted">
                {{ getErrorMessage(controls.password) }}
              </mat-error>
            </div>

            <div class="form-input">
              <input #inputFieldRef class="input-field" type="password" [formControl]="controls.repeatedPassword" required/>
              <label>Powtórz hasło</label>
            </div>
            <div class="control-err">
              <mat-error *ngIf="controls.repeatedPassword.invalid && submitted">
                {{ getErrorMessage(controls.repeatedPassword) }}
              </mat-error>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button class="change-btn">Zmień hasło</button>
          </div>

          <div class="alert alert-warning alert-dismissible fade show mt-2" role="alert" *ngIf="errorMessage">
            {{ errorMessage }}
            <button type="button" class="btn-close" aria-label="Close" (click)="errorMessage = null"></button>
          </div>
        </form>
      </div>

      <div class="side-photo"></div>
    </div>
  </div>
</main>
