<h3>Dane firmy:</h3>
<form [formGroup]="companyForm" class="form-grid">
  <div class="form-input">
    <input #inputFieldRef class="input-field" type="text" [formControl]="controls['companyName']" placeholder=" ">
    <label>Nazwa firmy</label>
    <mat-error *ngIf="controls['companyName'].invalid">
      {{ getErrorMessage(controls['companyName']) }}
    </mat-error>
  </div>
  <div class="form-input">
    <input #inputFieldRef class="input-field" type="text" [formControl]="controls['nip']" placeholder=" ">
    <label>NIP</label>
    <mat-error *ngIf="controls['nip'].invalid">
      {{ getErrorMessage(controls['nip']) }}
    </mat-error>
  </div>
</form>
