<section class="pad" *ngIf='orders.length > 0'>
  <h2>Lista Twoich zamówień:</h2>
  <mat-list>
    <ng-container *ngFor='let order of orders'>
      <div class='order-list-item'>
        <span>{{order.orders}}</span>
        <span class="no-display-mobile">Status: <span class="order-status">{{order.status}}</span></span>
        <span class="no-display-mobile">Dostawa: {{order.deliver.name}}</span>
        <button class="details-btn" (click)="navigateToDetails(order.uuid)">Szczegóły</button>
      </div>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
</section>

<p *ngIf='!errorMsg && orders.length === 0'>Aktualnie brak zamówień dla tego użytkownika.</p>

<app-alert [alertType]='"warning"' [message]='errorMsg' *ngIf='errorMsg'></app-alert>
